.content_area {
  border: 1px solid black;
  background-color: white;
  min-height: 200px;
  height: auto;
  width: fit-content;
}

.content_area div {
  width: fit-content;
}


.articleInfoTable {
  border-collapse: collapse;
}

.articleInfoTable td,th {
  border: 1px solid black;
}

.articleInfoTable th {
  padding-left: 10px;
  background-color: #232F3E;
  color: #ffffff;
}

.articleInfoTable td {
  background-color: #ffffff;
}

.reply_area {
  border: 1px solid black;
  background-color: white;
  min-height: 200px;
  height: auto;
}

.reply_area_info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.reply_info {
  padding: 7px 10px 7px 10px;
  background-color: rgb(238,238,238);
  display: flex;
  justify-content: space-between;
}

.reply_info > .reply_btn {
  display: flex;
}

.reply_info > .reply_btn >div {
  margin-left: 5px;
}

.reply_content {
  padding: 8px 10px 8px 10px;
}

.reply_post {
  display: flex;
  justify-content: left;
}

.reply_post input {
  height: available;
}

.reply_post > textarea {
  width: 80px;
}
