* {
  box-sizing: border-box;
}

.main_area_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.main_area_wrapper > div {
  background-color: white;
}

.main_area_wrapper > grid1 {
  grid-row: 1;
  grid-column: 1;
}

.main_area_wrapper > grid2 {
  grid-row: 1;
  grid-column: 2;
}

.main_area_wrapper > grid3 {
  grid-row: 2;
  grid-column: 1;
}

.main_area_wrapper > grid4 {
  grid-row: 2;
  grid-column: 2;
}