
.bbs_list {
  margin: 0px;

}

.bbs_list div {
  height: 40px;
  background-color: white;
}

.bbs_list div:hover {
  background-color: rgba(255,255,255,0);
}

.bbs_list > a {
  text-decoration: none;
}