<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <property name="LOG_DIR" value="/eCall/logs" />
  <property name="SERVER_NAME" value="collection"/>
  <property name="LOG_PATH_NAME" value="${LOG_DIR}/${SERVER_NAME}" />
  <property name="FILE_NAME" value="collectionServer" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </layout>
  </appender>

  <appender name="MYLOGGER" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
<!--      <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){magenta} %clr(${LOG_LEVEL_PATTERN:-%5p}){red} %clr(${PID:- }){magenta} %clr(-&#45;&#45;){magenta} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){magenta} %clr(%m%n){magenta}${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>-->
      <pattern>%clr([${LOG_LEVEL_PATTERN:-%5p}]){red} %clr(%-78m{78}){magenta} %clr([%-40.40logger{39}]){cyan} %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){magenta}  %clr([${PID:- }]){faint} %clr([%15.15t]){faint}%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
    </layout>
  </appender>

  <logger name="com.example.demo" additivity ="false">
    <level value="DEBUG"/>
    <appender-ref ref="MYLOGGER"/>
  </logger>

  <!-- 모든 로그 출력 (파일/콘솔) -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>



</configuration>
